# Apply en `Pandas`.

In [1]:
import pandas as pd
import numpy as np

In [2]:
datos = pd.read_csv('../Datos/bestsellers.csv')

In [4]:
def two_times(value):
    return value * 2

In [6]:
datos['User Rating'].apply(two_times)

0      9.4
1      9.2
2      9.4
3      9.4
4      9.6
      ...
545    9.8
546    9.4
547    9.4
548    9.4
549    9.4
Name: User Rating, Length: 550, dtype: float64

In [7]:
datos['User Rating'].apply(lambda x : x * 3)

0      14.1
1      13.8
2      14.1
3      14.1
4      14.4
       ...
545    14.7
546    14.1
547    14.1
548    14.1
549    14.1
Name: User Rating, Length: 550, dtype: float64

In [10]:
datos['R2'] = datos.apply(lambda x: x['User Rating'] * 2 if x['Genre'] == 'Fiction' else x['User Rating'],
                          axis = 1)
datos.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre,R2
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,4.7
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,9.2
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,4.7
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,9.4
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,4.8

In [11]:
ejemplo = np.array([[7 8] [2 1] [2 4]])

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3056902051.py, line 1)